#site-footer
  background-color: $footer
  padding: $unit * 5            // 20px
  color: $text
  border-top: 1px solid $border

  .footer-container
    justify-content: center
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: auto
    gap: $unit * 48               // 192px
    max-width: 1200px
    margin: auto
    grid-template-areas: "footer-column1 footer-column2 footer-column3"

    h1
      font-size: 20px
      margin-top: $unit * 5        // 20px

    @include responsive(tablet)
      gap: $unit * 12              // 48px
      
      .footer-column1, .footer-column2, .footer-column3
        align-items: center

    @include responsive(mobile)
      grid-template-columns: 1fr
      grid-template-areas: "footer-column1" "footer-column2" "footer-column3"
      gap: $unit * 12             // 48px
      
      .footer-column1, .footer-column2, .footer-column3
        align-items: center

  .footer-column1, .footer-column2, .footer-column3
    display: flex
    flex-direction: column
    gap: $unit * 2                // 8px

    p
      margin: 0

  .copyright
    text-align: center
    padding-top: $unit * 5        // 20px
    font-size: 14px
    color: #666
