:root {
  font-size: 16px;
}

body {
  margin: auto;
  font-family: Chakra Petch, arial;
}
body #header {
  background-color: #BAE1E4;
  grid-area: header;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  height: 70px;
}
body #header .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body #header #logo {
  font-size: 32px;
  margin-right: 100%;
}
body #header #button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #5f868a;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}
body #header #button:hover {
  background-color: #4b5f61;
  transform: scale(1.05);
}
body #header #button:active {
  transform: scale(0.98);
}
body #header #hamburger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
body #header #nav-menu {
  display: flex;
  gap: 20px;
}
@media (max-width: 700px) {
  body #header .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px 0 20px;
  }
  body #header #hamburger-menu {
    display: flex;
  }
  body #header #nav-menu {
    display: none;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    background-color: #BACDE4;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 100;
    margin-top: 10px;
  }
  body #header #nav-menu.active {
    display: flex;
    margin-left: auto;
  }
  body #header #nav-menu a {
    padding: 10px;
    text-align: left;
  }
}
body p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  margin: auto;
}
body .grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "one one one one" "two two two two" "three three three three" "footer footer footer footer";
  row-gap: 30px;
}
body #one {
  background-color: #BACDE4;
  grid-area: one;
  padding: 30px;
  text-align: left;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 10px 10px 8px #8095ad;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
body #two {
  background-color: #BACDE4;
  grid-area: two;
  padding: 30px;
  text-align: left;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 10px 10px 8px #8095ad;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
body #three {
  background-color: #BACDE4;
  grid-area: three;
  padding: 30px;
  text-align: left;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 10px 10px 8px #8095ad;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
body #footer {
  background-color: #BAE4D1;
  grid-area: footer;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body #footer #button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #5f868a;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}
body #footer #button:hover {
  background-color: #4b5f61;
  transform: scale(1.05);
}
body #footer #button:active {
  transform: scale(0.98);
}/*# sourceMappingURL=styles.css.map */